@page "/announcements"
@using MicroservicesProject.App.User.ApiClient;
@using MicroservicesProject.Shared
@using MicroservicesProject.Users.Domain.Dto;
@inject UserApiClient UserApiClient

<PageTitle>Announcements</PageTitle>

<h1>Announcements</h1>

@if (events == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="container">
		<div class="row-cols-1 ">

			@foreach (var e in events)
			{
				<div class="col">
					<div class="card">
						<div class="card-header">@e.Id @e.Name</div>
						@*<div class="card-body">@e.Description</div>*@
					</div>
				</div>
			}

		</div>

	</div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in events)
            {
                <tr>
                    <td>@user.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ICollection<UserDetailsDto> events;

    protected override async Task OnInitializedAsync()
    {
        events = await UserApiClient.GetAllAsync();
    }
}