@page "/fetchdata"
@using MicroservicesProject.Shared
@using MicroservicesProject.Users.Domain.Dto
@using MicroservicesProject.App.User.ApiClient

@inject HttpClient Http
@inject UserApiClient UserApiClient



<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	private ICollection<UserDetailsDto> users;

    protected override async Task OnInitializedAsync()
    {
	    users = await UserApiClient.GetAllAsync();
    }
}
